{% extends "layout.njk" %} {% block content %}

<style>
  .card {
    height: 40rem;
    background: -moz-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  }
  .card:hover {
    transform: scale(1.08);
    transition: all 1s ease;
    cursor: pointer;
    border: 3px solid black;
  }
  .card-footer {
    border-top: solid black 2px;
  }
</style>
<div class="col-lg-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home" style="color: white">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a class="nav-link active" href="/games" style="color: white"
              >Games</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/platforms" style="color: white"
              >Platforms</a
            >
          </li>

          <li class="nav-item1">
            {#
            <a class="nav-link active" href="/login" style="color: white"
              >Logged : {{ checkingLoggin }}</a
            >
            #} {% if checkingLoggin %}
            <a class="nav-link active" href="/logout" style="color: white"
              >Logout</a
            >
            {% else %}
            <a class="nav-link active" href="/login" style="color: white"
              >Login</a
            >
            {% endif %}
          </li>
        </ul>
        <form class="d-flex" method="post" action="/search">
          <input
            class="form-control me-2"
            name="searchInput"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<br />
<div class="container">
  <h1 class="text-center" style="color: white; margin-top: 3rem">Games</h1>
  <br />
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
    {% for game in games %}

    <div class="col">
      <div class="card h-100">
        <img
          src="{{ game.cover.url }}"
          class="card-img-top"
          alt="..."
          style="height: 20rem"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: white; text-align: center">
            {{ game.name }}
          </h5>
          <p
            class="card-text d-md-flex justify-content-md-start"
            style="color: white"
          >
            {{ game.price / 100 }} $
          </p>
        </div>
        <div class="card-footer">
          <a
            href="games/{{ game.slug }}"
            class="btn d-grid gap-2 col-6 mx-auto"
            style="background-color: orange; color: white"
            >See more!</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
