{% extends "layout.njk" %} {% block content %}
<style>

.card {
    height: 40rem;
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  }

</style>
<br />
<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div>
        <center><img src="{{ game.cover.url }}" alt="..." style="
        margin-top: 2rem;
        " /></center>
      </div>
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title" style="text-align: justify; text-align: center; margin-bottom: 1rem; margin-top: 1rem; color:white;">{{ game.name }}</h5>
          <p class="card-text" style="text-align: justify; text-align: center; color:white;">{{ game.summary }}</p>
          <p class="card-text" style="text-align: justify; text-align: center; color: white;">{{ game.price / 100 }}$</p>
          <div class="d-grid col-4 mx-auto">
          <a 
          href="../payment"
          class="btn"
          type="button"
          style="
            font-size: 3em;
            color: white;
            background-color:orange;
            height: 5rem;
            border-radius: 6px;
            ">
          Achat
          </a>
        </div>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
