{% extends "layout.njk" %}

{% block content %}

    <img src="https://images.frandroid.com/wp-content/uploads/2020/11/xbox-playstation-pc-nintendo.jpg" class="img-fluid" style="width: 100%" alt="..." />

{% endblock %}