{% extends "layout.njk" %} {% block content %}
<h1>Games page</h1>

{% for platform in platforms %}
<div class="card" style="width: 14rem">
  <h5 class="card-title">{{ platform.name }}</h5>
</div>

{% endfor %} {% endblock %}
